body{
    margin: 0;
    padding: 0;
    background-color: rgb(240, 240, 174);
}
h1{
    border: 3px solid rgb(200, 198, 198);
    border-radius: 20px;
    text-align: center;
    text-shadow: 4px 4px lightslategray;
    font-family: italic, 'Oleo Script', cursive;
    background-color: rgb(125, 205, 231);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
    color: rgb(255, 255, 255);
}
h2{
    list-style-type: square;
}
#date-search, #location-search{
    border: 4px solid rgb(200, 198, 198);
    border-radius: 30px;
    background-color: rgb(182, 225, 240);

}
input#search, #reset {
    font-size: 110%;
    border-radius: 20px;
    border: 4px solid rgb(231, 69, 69);
    background-color: rgb(255, 255, 255);
}

#search-form, button, input, optgroup, select, textarea{
    text-align: center;
    font-family: italic, 'Oleo Script', cursive;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
}

@media (max-width: 1024px) {
    #search-form, button, input, optgroup, select, textarea{
        text-align: center;
        font-family: italic, 'Oleo Script', cursive;
        margin-top: 2%;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 50px;
    }
    input#search, #reset {
        font-size: 80%;
        border-radius: 20px;
        border: 4px solid rgb(231, 69, 69);
        background-color: rgb(255, 255, 255);
        width: 30%;
    }
    h1{
        font-size: 480%;
    }
    .col-md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
        margin: auto;
    }
    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0px;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        margin: 5%;
    }
    .card-body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
        padding-bottom: 15%;
    }
    #active, #recovered, #deaths {
     font-family: italic, 'Oleo Script', cursive;
     font-size: 270%;
    }


    h3{

     font-family: italic, 'Oleo Script', cursive;
     font-size: 270%;
     text-align: center;
    }


  }
  @media (max-width: 768px) {
    #search-form, button, input, optgroup, select, textarea{
        text-align: center;
        font-family: italic, 'Oleo Script', cursive;
        margin-top: 2%;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 35px;
    }
    input#search, #reset {
        font-size: 80%;
        border-radius: 20px;
        border: 4px solid rgb(231, 69, 69);
        background-color: rgb(255, 255, 255);
        width: 30%;
    }
    h1{
        font-size: 350%;
    }
    label{
        font-size: 40px;
    }
    .col-md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
        margin: auto;
    }
    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0px;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        margin: 5%;
    }
    .card-body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
        padding-bottom: 15%;
    }
    #active, #recovered, #deaths {
     font-family: italic, 'Oleo Script', cursive;
     font-size: 230%;
    }


    h3{

     font-family: italic, 'Oleo Script', cursive;
     font-size: 220%;
     text-align: center;
    }



  }
  @media (max-width: 414px) {
    #search-form, button, input, optgroup, select, textarea{
        text-align: center;
        font-family: italic, 'Oleo Script', cursive;
        margin-top: 2%;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 20px;
    }
    label {
        display: inline-block;
        font-size: 25px;
    }
    input#search, #reset {
        font-size: 110%;
        border-radius: 30px;
        border: 4px solid rgb(231, 69, 69);
        background-color: rgb(255, 255, 255);
        width: 50%;
    }
    h1{
        font-size: 240%;
    }
    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0px;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        margin: 5%;
    }
    .card-body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
        padding-bottom: 50%;
    }
    #active, #recovered, #deaths {
     font-family: italic, 'Oleo Script', cursive;
     font-size: 160%;
    }


    h3{

     font-family: italic, 'Oleo Script', cursive;
     font-size: 160%;
    }


  }